{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Satyam Tiwari</title>
    <link rel="stylesheet" href="{%static 'css/main.css' %}" />
  </head>
  <body>
    <!--Switch Toggle-->
    <div class="switch-wrapper">
      <div class="sun"></div>
      <div class="toggle-wrapper">
        <input id="switch" type="checkbox" />
        <label for="switch" id="toggle">Toggle</label>
      </div>
      <div class="moon"></div>
    </div>

    <!--Intro-->
    <header class="intro">
      <h1 class="intro__hello">
        Hello!
        <span class="emoji wave-hand animated"></span>
      </h1>

      <h2 class="intro__tagline">
        I'm <span class="name">Satyam Tiwari</span>, a design-minded front-end
        software engineer focused on building beautiful interfaces &amp;
        experiences
        <span class="emoji technologist"></span>
      </h2>

      <a class="status" href="{{site.resume}}" target="_blank">
        <div class="status__light">
          <div class="status__light__ring"></div>
          <div class="status__light__led"></div>
        </div>
        <div class="status__message">
          Currently seeking full-time opportunities!
        </div>
      </a>

      <h3 class="intro__contact">
        <span>Get in touch </span>
        <span class="emoji pointer"></span>
        <span>
          <a
            href="mailto:satyamtiwari1004@gmail.com"
            target="_blank"
            class="highlight-link"
            >satyamtiwari1004@gmail.com</a
          >
        </span>
      </h3>
    </header>

    <!--Background-->
    <section class="section background">
      <div class="section__title">Background</div>
      <div class="section__content">
        <p>
          I'm currently a System's Engineer at
          <a class="underline-link" href="https://www.tcs.com/" target="_blank"
            >Tata Consultancy Services</a
          >
          building things for the web with some awesome people. I recently
          post-graduated from
          <a class="underline-link" href="https://mu.ac.in/" target="_blank"
            >Mumbai University</a
          >
          in Computer Science Field.
        </p>

        <p>
          As a software engineer, I enjoy bridging the gap between engineering
          and design &mdash; combining my technical knowledge with my keen eye
          for design to create a beautiful product. My goal is to always build
          applications that are scalable and efficient under the hood while
          providing engaging, pixel-perfect user experiences.
        </p>

        <p>
          <strong>When I'm not in front of a computer screen</strong>, I'm
          probably snowboarding, cruising around on my penny board, or crossing
          off another item on my bucket list.
        </p>
      </div>
    </section>

    <!--Skills-->
    <section class="section skills">
      <div class="section__title">Technical Skills</div>
      <div class="section__content">
        <div class="skillz">
          <div class="skillz__category">
            <div class="skillz__category__label">Languages</div>
            <ul>
              {% for language in site.data.skills.languages %}
              <li class="skillz__category__item">{{language.item}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="skillz__category">
            <div class="skillz__category__label">Frameworks</div>
            <ul>
              {% for framework in site.data.skills.frameworks %}
              <li class="skillz__category__item">{{framework.item}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="skillz__category">
            <div class="skillz__category__label">Tools</div>
            <ul>
              {% for tool in site.data.skills.tools %}
              <li class="skillz__category__item">{{tool.item}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="skillz__category">
            <div class="skillz__category__label">Design</div>
            <ul>
              {% for thing in site.data.skills.design %}
              <li class="skillz__category__item">{{thing.item}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--Professional Experience-->
    <section class="section experience">
      <div class="section__title">Professional Experience</div>
      <div class="section__content">
        <div class="jobs">
          {% for job in exp_data%}
          <div class="job">
            <div class="time-place">
              <div class="job__company">
                <a href="{{job.url}}" target="_blank">{{job.company}}</a>
              </div>
              <div class="job__time">{{job.time}}</div>
            </div>
            <div class="job__position">{{job.position}}</div>
          </div>
          {% endfor %}
        </div>

        <a href="{{site.resume}}" target="_blank" class="arrow-link"
          >View My Resume</a
        >
      </div>
    </section>

    <!--Featured Projects-->
    <section class="section featured-projects">
      <div class="section__title">Featured Projects</div>
      <div class="section__content">
        <div class="project blistabloc">
          <figure class="project__pic">
            <a href="https://blistabloc.com/" target="_blank">
              <img
                src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png"
                alt=""
              />
            </a>
          </figure>
          <figcaption class="project__caption">
            <div class="project__name">
              <a href="https://blistabloc.com/" target="_blank">blistabloc</a>
            </div>
            <p>
              Custom wordpress theme built with Timber and Woocommerce for
              blistabloc, the only reactive shoe insert that prevents blisters
              from forming.
            </p>
          </figcaption>
        </div>
      </div>
    </section>
    <!--Other Projects-->
    <!--Top Button-->

    <button id="top-button">
        <img src="{%static '/img/emojis/pointingup.png'%}" alt="">
      </button>
      
    <!--Scripts-->
    <script src="{%static 'js/main.js'%}"></script>
  </body>
  <!--Footer-->
  <footer class="footer">
    <div class="footer__copyright">
      <div class="top">
        <span>Designed &amp; Developed by</span>
      </div>
      <div class="bottom">
        <span></span>
        <img class="emoji" src="{%static '/img/emojis/reckon.png'%}" alt="emoji">
        <span>2023</span>
      </div>
    </div>
    <div class="footer__links">
      <a href="{{link.url}}" target="_blank" title="{{link.title}}">
        <span class="text">{{link.title}}</span>
        <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
      </a>

    </div>
  </footer>
  
</html>
